{% if page.tags.size > 0 %}
    {% for page_tag in page.tags %}
    
        {% assign tag = site.my_tags | where: "tag_name", page_tag %}
        {% if tag.size > 0 %}
            {% assign tag_list_item_url = tag[0].url %}
            {% assign tag_list_item_title = tag[0].tag_title %}
            {% capture tag_list_item_hint %}Список статей с тегом {{ tag[0].tag_title }}{% endcapture %}
        {% else %}
            {% capture unregistered_tag %}unregistered_tag [{{page_tag}}]{% endcapture %}
            {% assign tag_list_item_title = unregistered_tag %}
            {% capture tag_list_item_hint %}Тег {{page_tag}} добавлен по ошибке. Если это не так, следует создать список статей для этого тега.{% endcapture %}
        {% endif %}
        
        {% capture tag_list_iteration %}
            {% if tag_list_item_url == "unregistered_url" %}
            {% endif %}
            {{ tag_list }}<a title = "{{tag_list_item_hint}}" href="{{ tag_list_item_url }}">{{ tag_list_item_title }}</a>{% if forloop.last == false %}, {% endif %}
        {% endcapture %}
        {% assign tag_list = tag_list_iteration %}
        
        
    {% endfor %}
{% endif %}